.topics {
	background-color: var(--gray-200);
	border-radius: 10px;
	flex: 0 0 250px;
}

.topics .count {
	font-size: .75rem;
}

.topic {
	/* TODO: Change to flexbox? */
	display: inline-block;
	margin-left: .5rem;
}

.topic:first-of-type {
	margin-left: 0;
}