<main>
	{% for post in collections.blog_posts reversed %}
		{% comment %}Reminder - use article tag in the future here{% endcomment %}
		<h3>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<small>{{ post.date | toUTCString }}</small>
		</h3>
		<p>{{ post.data.description }}</p>
	{% endfor %}
</main>

<style type="text/css">
	main {
		flex: 1;
		padding: 1rem 0 1rem 0;
	}

	main h3 small {
		font-size: .75rem;
		font-weight: normal;
	}

	main p {
		margin-bottom: .75rem;
	}
</style>