<main>
	<h2>Recent Blogs</h2>
	{% for post in collections.blog_posts %}
		{# Reminder - use article tag in the future here #}
		<h3>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			{# This is such a hack.... todo: fix #}
			<small>{{ post.date.toUTCString().split(' 00')[0] }}</small>
		</h3>
		<p>{{ post.data.description }}</p>
	{% endfor %}
</main>

<style type="text/css">
	main {
		flex: 1;
		padding: 1rem;
	}

	main h3 small {
		font-size: .75rem;
		font-weight: normal;
	}

	main p {
		margin-bottom: .75rem;
	}
</style>