<div class="header">
	<div>
		<a href="/">
			<img class="profile-pic" src="/assets/images/profile-pic-3.jpg" alt="Ryan Clough profile picture">
		</a>
	</div>
	<p>Hey there, I'm Ryan 👋🏻. Welcome to my personal blog where I mostly write about web development & products. I spend my days building automated cloud incident response tools 👨🏼‍💻☁️. You can find me on <a href="https://twitter.com/hotF1X">Twitter</a> & <a href="https://www.linkedin.com/in/cloughrm/">LinkedIn</a>.</p>
</div>

{# <div class="nav">
	<a href="/">Blog</a>
	<a href="/projects">Projects</a>
</div> #}

{% set js %} {% include "scripts/header.js" %} {% endset %}
<script type="text/javascript">
	{{ js | safe }}
</script>
