<header>
	<div>
		<a href="/">
			<img id="profile-pic" />
		</a>
	</div>
	<p>{{ meta.headerText }}</p>
	TODO: Add Twitter and LinkedIn icons
</header>

<script type="text/javascript">
	(function () {
		let randInt = Math.floor(Math.random() * 3) + 1;
		let img = document.getElementById('profile-pic');
		img.src = '/assets/images/profile-pic-' + randInt + '.jpg';
		img.alt = 'Ryan Clough profile picture';
	})();
</script>

<style type="text/css">
	header img {
		border-radius: 100%;
		width: 85px;
		height: 85px;
	}

	header {
		display: flex;
		align-items: center;
	}

	header div:first-child {
		width: 85px;
		flex: 0 0 85px;
	}

	header p {
		margin-left: 2rem;
	}
</style>