<div class="topics">
	<h2>Topics</h2>
	{% for topic, count in collections.topics %}
		<div class="topic">
			<a href="/topics/{{topic | slugify}}">{{topic | slugify}}</a>
			<span class="count"> ({{ count }})</span>
		</div>
	{% endfor %}
</div>
