<div id="topics">
	<h2>Topics</h2>
	{% for topic, count in collections.topics %}
		<div class="topic">
			<a href="/topics/{{topic | slugify}}">{{topic | slugify}}</a>
			<span class="count"> ({{ count }})</span>
		</div>
	{% endfor %}
</div>

<style type="text/css">
	#topics {
		background-color: var(--gray-200);
		border-radius: 10px;
		flex: 0 0 250px;
	}

	#topics .count {
		font-size: .75rem;
	}

	#topics .topic {
		/* TODO: Change to flexbox? */
		display: inline-block;
		margin-left: .5rem;
	}

	#topics .topic:first-of-type {
		margin-left: 0;
	}
</style>
