<footer>
	<span>{{ meta.year }} 🎉 {{ meta.author }}, opinions are my own and not the views of my employer.</span>
	<span><a href="https://clough.cloud">clough.cloud<a/> is powered by: 11ty, DigitalOcean</span>
</footer>
