---
import { SOCIALS } from "src/config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
const alignment = centered ? "justify-center": "content-start";
---
<div class={`social-icons flex ${alignment}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap gap-2;
  }
  .link-button {
    @apply p-2 sm:p-1 hover:rotate-6 transition-transform;
  }
</style>
