@import url('./reset.css');

html {
	--primary-color: #fad75f;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	padding: 20px;
}

body .content {
	margin: 0 auto;
	max-width: 700px;
	background-color: white;
}