.blog-post-list {
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 25rem;
	min-width: 25rem;
}

.blog-post-list h3 small {
	font-size: .75rem;
	font-weight: normal;
}

.blog-post-list p {
	margin-bottom: .75rem;
}
