main {
    flex: 1;
    padding: 1rem 0 1rem 0;
}

main .post-title a {
    color: inherit;
    text-decoration: none;
}

main .subheading {
    display: flex;
    flex-wrap: wrap;
}

main .post-date {
    font-style: italic;
}

main p {
    margin-bottom: .75rem;
}
