---
layout: layouts/base
title: "Blog | clough.cloud"
---

<h1>About Me</h1>

<div class="header">
	<img src="/assets/images/profile-pic.jpg" alt="Ryan Clough profile picture">
	<p>Hey there, I'm Ryan Clough, welcome to my online portfolio.  I spend my days as a Principal Cloud Engineer at Palo Alto Networks.</p>
</div>

<h2>Find me around the web</h2>
<ul>
	<li><a href="https://twitter.com/hotF1X">Twitter</a></li>
	<li><a href="https://github.com/cloughrm">GitHub</a></li>
	<li><a href="https://www.linkedin.com/in/cloughrm/">LinkedIn</a></li>
	<li><a href="https://www.instagram.com/cloughrm/">Instagram</a></li>
</ul>

<h2>Development Work</h2>
<ul>
	<li><a href="https://www.fireeye.com/cyber-map/threat-map.html">FireEye Cyber Threat Map</a></li>
	<li><a href="https://www.youtube.com/watch?v=IWbL1Ry5QmE&t=6s">Anomali MyAttacks Map (seen at beginning of video)</a></li>
	<li><a href="https://meme.pkt.li/boromir/one%20does%20not%20simply/walk%20into%20mordor">Meme API</a></li>
	<li>clough.cloud, this website</li>
</ul>