---
layout: layouts/base
title: "Blog | clough.cloud"
---
<section id="blog">
	{% include "components/topics-list.njk" %}
	{% include "components/blog-posts-list.njk" %}
</section>

<style type="text/css">
	section#blog {
		flex-direction: row-reverse;
		gap: 2rem;
		margin-top: 1rem;
	}

	/* Desktop Layout */
	@media (min-width: {{ meta.desktopMinWidth }}) {
		section#blog {
			display: flex;
		}
	}
</style>