---
layout: layouts/base.njk
title: "Projects | clough.cloud"
---
<h2>Development Work</h2>
<ul>
	<li><a href="https://www.fireeye.com/cyber-map/threat-map.html">FireEye Cyber Threat Map</a></li>
	<li><a href="https://www.youtube.com/watch?v=IWbL1Ry5QmE&t=6s">Anomali MyAttacks Map (seen at beginning of video)</a></li>
	<li><a href="https://meme.pkt.li/boromir/one%20does%20not%20simply/walk%20into%20mordor">Meme API</a></li>
	<li>clough.cloud, this website</li>
</ul>
