<header>
	<div class="profile-pic-wrapper">
		<a href="/">
			<img id="profile-pic" />
		</a>
	</div>
	<div class="intro">
		Hey there, I'm Ryan 👋🏻, welcome to my personal blog. I (mostly) write about web development & products.
		I spend my days building automated cloud ☁️ incident response tools 👨🏼‍💻. You can find me on
		<a class="social-link" href="https://twitter.com/hotF1X">
			{% include "components/icon/icon", img: "/assets/images/twitter.png" %}
			Twitter
		</a>
		<span>&nbsp&&nbsp</span>
		<a class="social-link" href="https://www.linkedin.com/in/cloughrm/">
			{% include "components/icon/icon", img: "/assets/images/linkedin.png" %}
			LinkedIn
		</a>.
	</div>
</header>

<script type="text/javascript">
	(function () {
		let randInt = Math.floor(Math.random() * 3) + 1;
		let img = document.getElementById('profile-pic');
		img.src = '/assets/images/profile-pic-' + randInt + '.jpg';
		img.alt = 'Ryan Clough profile picture';
	})();
</script>
